apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "product-catalog.fullname" . }}
  labels:
    {{- include "product-catalog.labels" . | nindent 4 }}
data:
  application.yaml: |
    server:
      port: {{ .Values.config.server.port }}

    spring:
      profiles:
        active: {{ .Values.config.spring.profiles.active }}

      datasource:
        url: {{ .Values.config.spring.datasource.url }}
        username: {{ .Values.config.spring.datasource.username }}
        driver-class-name: {{ .Values.config.spring.datasource.driverClassName }}

      jpa:
        hibernate:
          ddl-auto: {{ .Values.config.spring.jpa.hibernate.ddlAuto }}
        show-sql: {{ .Values.config.spring.jpa.showSql }}

      kafka:
        bootstrap-servers: {{ .Values.config.spring.kafka.bootstrapServers }}
        producer:
          key-serializer: {{ .Values.config.spring.kafka.producer.keySerializer }}
          value-serializer: {{ .Values.config.spring.kafka.producer.valueSerializer }}

    management:
      endpoints:
        web:
          exposure:
            include: health,info,metrics,prometheus
      endpoint:
        health:
          probes:
            enabled: true
          show-details: always
